<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Jinder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
          <!-- <button type="submit" class="btn btn-success">Sign Up</button> -->

        </form>

      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- LOGIN WITH LINKEDIN MODAL -->
  <div id="Linkedinlogin" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">LinkedIn</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!---->


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>You need a job.</h1>
    <p>  and this app is going to help you get one.</p>
    <a class="btn btn-lg btn-info" href="/login" role="button">Log in with LinkedIn</a>
    <button id="linkedin-button" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Login With LinkedIn 
    </button>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Link into LinkedIn</h2>
      <p>Excuse the obnoxious pun. Jinder connects to your LinkedIn account to make finding new jobs a simpler and more focused experience. When you see something you like, add it to your pile. If you aren't interested, we won't present this job to you again (but you can still find it in your collection of declined offers).</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
      <h2>Review Your Prospects</h2>
      <p>Once you have a collection of job openings that you're interested in, check them all out on one page for further review.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
      <h2>Scope the Competition!</h2>
      <p>Once you've expressed interest in a job opening, Jinder shows you all the other Jinder users who are vying for the same position. Now you can gauge the skillset of other job applicants and come to your interview better prepared!</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Jinder 2014</p>
  </footer>
</div> <!-- /container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>
    
    
  </body>
